body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.clock {
  background-color: antiquewhite;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px solid black;
  position: relative;
}

.hour {
  font-size: 30px;
  position: absolute;
}

.hour-1 {
  top: 40px;
  right: 130px;
}

.hour-2 {
  top: 125px;
  right: 45px;
}

.hour-3 {
  top: 235px;
  right: 10px;
}

.hour-4 {
  top: 345px;
  right: 45px;
}

.hour-5 {
  top: 430px;
  right: 130px;
}

.hour-6 {
  bottom: 10px;
  right: 240px;
}

.hour-7 {
  top: 430px;
  left: 130px;
}

.hour-8 {
  top: 345px;
  left: 45px;
}

.hour-9 {
  top: 235px;
  left: 10px;
}

.hour-10 {
  top: 125px;
  left: 45px;
}

.hour-11 {
  top: 40px;
  left: 130px;
}

.hour-12 {
  top: 10px;
  left: 235px;
}

.clock-hands {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateX(-3px);
}

.hand {
  position: absolute;
  width: 5px;
  height: 40%;
  background: black;
  top: 10%;
  left: 50%;
  transform-origin: bottom;
  /* transform: rotate(90deg); */
  /* transition: all 0.5s; */
}

.sec-hand {
  /* height: 40%; */
}

.min-hand {
  height: 35%;
  background: red;
  top: 15%;
}

.hour-hand {
  height: 30%;
  top: 20%;
  background: blue;
}
